.center{
  text-align: center;
}

h2{
  font-family: "Nunito", sans-serif;
}

.left-content-schedule{
  width: 139%;
} 

.edit-list{
  padding: 0.5rem 1rem;
}

ul.edit-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.edit.btn {
  flex: 0 0 auto; /* Do not grow, do not shrink, and base width on content */
  margin: 0;
}

#editBtn {
  margin: 2rem 0 2rem 31rem;
  padding: 8px 24px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #484b57;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  cursor: pointer;
}

.show-input {
  display: block;
  margin: 0 auto; 
  flex: 1 0 auto; 
}

#scheduleDisplay{
  background-color: rgb(201, 195, 225);
  margin-top:1rem ;
  border-radius: 10px; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 
              0px 10px 20px rgba(0, 0, 0, 0.15), 
              0px 15px 30px rgba(0, 0, 0, 0.1);
}

.edit-list input{
  margin-left: 40rem;
}

.edit-list select{
  margin-left: 22rem;
}

.hidden {
  display: none; 
}