.center{
  text-align: center;
}

h2{
  font-family: "Nunito", sans-serif;
}


.left-content-schedule{
  width: 139%;
} 

.edit-list{
  padding: 0.5rem 1rem;
}

ul.edit-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.edit.btn {
  flex: 0 0 auto; /* Do not grow, do not shrink, and base width on content */
  margin: 0;
}

#editBtn {
  margin: 2rem 0 2rem 31rem;
  padding: 8px 24px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #484b57;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  cursor: pointer;
}

/* Assuming that .hidden class makes elements not visible */

/* CSS to show the hidden input in the middle when the edit button is clicked */
/* Assuming some JS will toggle a class to show the input */
.show-input {
  display: block; /* Show the input */
  margin: 0 auto; /* Center the input */
  flex: 1 0 auto; /* Allow it to grow and take up available space */
}

#scheduleDisplay{
  background-color: rgb(201, 195, 225);
  margin-top:1rem ;
  border-radius: 10px; /* Rounds the corners */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), /* Lower shadow */
              0px 10px 20px rgba(0, 0, 0, 0.15), /* Further shadow for more depth */
              0px 15px 30px rgba(0, 0, 0, 0.1); /* Even further shadow for additional depth */
  /* Adjust the px values and rgba colors as needed to suit your design */
}

.edit-list input{
  margin-left: 40rem;
}

.edit-list select{
  margin-left: 22rem;
}

.hidden {
  display: none; /* Hide the elements */
}